:root {
  --grey: rgb(71, 73, 70); /* menu a nadpisy */
  --white: rgb(255, 255, 255); /* text v top_baru a navigaci, pozadí */
  --light-grey: rgb(242, 243, 247); /* pozadí */
  --black: rgb(0, 0, 0);
  --grey-borders: rgb(231, 231, 231);
  --menu-background-color: #0b3150;
  --menu-hover: #DB4858; /* další možnost #4BB5F0, #fa983a, #DB4858, #78e08f, #20bf6b, #4cd137, #fff200, #FAA275, #8338ec*/
  --menu-logo-color: white;
  --menu-subheader-color: #E2E2E2;
  --menu-item-color: #A9A9A9;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  --html-width: 100%;
  width: var(--html-width); /* view width */
  min-height: 100%;
  display: table;
}

body {
  background-color: #cbcbcb;
}

header {
  color: var(--white);
  background: var(--menu-background-color);
}

ul {
  list-style: none;
}

#logo {
  text-align: center;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 50px;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;

}

.background {
  background: #f2f2f2;
  /* 20px obsolete */
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 auto;
  align-items: stretch;
  align-content: flex-start;
}

.box {
  /* margin: 30px; */
  margin: 30px 80px;
  width: calc(100% - 160px)
}

form div.input-div label {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  border-bottom: 2px solid #d9d9d9;
}

form div.input-div label.no-icon {
  grid-template-columns: 100%;
}

form div.input-div.one {
  margin-top: 0;
  margin: 25px 0;
  padding: 5px 0;
  width: 250px;
  height: 45px;
}

form div.text-input-container {

}

/* form span.input-description {
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
} */

.i{
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > label > div.div {
  position: relative;
  height: 45px;
}

.input-div > label > div.div > span.input-description {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > label > div.div > span.input-description{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > label > div.div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	/* padding: 0.5rem 0.7rem; */
  margin-left: 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

footer {
  height: 50px;
}

footer div:not(#footer_inner) {
  background-color: var(--menu-background-color);
}

a {
  color: inherit;
  text-decoration: inherit;
}

#footer_inner {
  text-align: center;
}

.menu-icon {
  width: 100%;
}

.container-menu .menu{
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
}

.menu, .menu-bottom {
  align-content: flex-start;
}

.menu-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.menu-item {
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.menu-show {
  display: none !important;
}


@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
  }

  main {
    margin-top: 93px;
  }

  #logo {
    margin-bottom: 15px;
  }

  .menu-icon {
    text-align: center;
    margin-bottom: 15px;
  }

  .menu, .menu-bottom {
    display: none !important;
  }

  .menu-item {
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }
  nav {
    position: unset;
  }
  .small-1 {
    width: 6.25%;
  }

  .small-2 {
    width: 12.5%;
  }

  .small-3 {
    width: 18.75%;
  }

  .small-4 {
    width: 25%;
  }

  .small-5 {
    width: 31.25%;
  }

  .small-6 {
    width: 37.5%;
  }

  .small-7 {
    width: 43.75%;
  }

  .small-8 {
    width: 50%;
  }

  .small-9 {
    width: 56.25%;
  }

  .small-10 {
    width: 62.5%;
  }

  .small-11 {
    width: 68.75%;
  }

  .small-12 {
    width: 75%;
  }

  .small-13 {
    width: 81.25%;
  }

  .small-14 {
    width: 87.5%;
  }

  .small-15 {
    width: 93.75%;
  }

  .small-16 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {

  .menu-icon {
    display: none;
  }

  .menu-item {
    margin-left: 15px;
  }
  .medium-1 {
    width: 6.25%;
  }

  .medium-2 {
    width: 12.5%;
  }

  .medium-3 {
    width: 18.75%;
  }

  .medium-4 {
    width: 25%;
  }

  .medium-5 {
    width: 31.25%;
  }

  .medium-6 {
    width: 37.5%;
  }

  .medium-7 {
    width: 43.75%;
  }

  .medium-8 {
    width: 50%;
  }

  .medium-9 {
    width: 56.25%;
  }

  .medium-10 {
    width: 62.5%;
  }

  .medium-11 {
    width: 68.75%;
  }

  .medium-12 {
    width: 75%;
  }

  .medium-13 {
    width: 81.25%;
  }

  .medium-14 {
    width: 87.5%;
  }

  .medium-15 {
    width: 93.75%;
  }

  .medium-16 {
    width: 100%;
  }

}

@media only screen and (min-width: 1200px) {

  .menu-icon {
    display: none;
  }

  .menu-item {
    margin-left: 30px;
  }
  .large-1 {
    width: 6.25%;
  }

  .large-2 {
    width: 12.5%;
  }

  .large-3 {
    width: 18.75%;
  }

  .large-4 {
    width: 25%;
  }

  .large-5 {
    width: 31.25%;
  }

  .large-6 {
    width: 37.5%;
  }

  .large-7 {
    width: 43.75%;
  }

  .large-8 {
    width: 50%;
  }

  .large-9 {
    width: 56.25%;
  }

  .large-10 {
    width: 62.5%;
  }

  .large-11 {
    width: 68.75%;
  }

  .large-12 {
    width: 75%;
  }

  .large-13 {
    width: 81.25%;
  }

  .large-14 {
    width: 87.5%;
  }

  .large-15 {
    width: 93.75%;
  }

  .large-16 {
    width: 100%;
  }

}
